body {
    text-align: center;
    }
    
.chart {
border-left: 1px solid black;
border-bottom: 1px solid black;
margin: 60px auto;
position: relative;
}

.textArea{
border-left: 1px solid black;
border-bottom: 1px solid black;
margin: 0 auto;
position: relative;
}


.y {
position: absolute;
transform: rotate(-90deg);
transform-origin: bottom left;
bottom: 0;
padding: 5px;
}
.x {
position: absolute;
top: 100%;
width: 100%;
padding: 5px;
}
.bar {
background: blue;
position: absolute;
bottom: 0;
}
.bar:nth-of-type(even) {
background: red;
}
.dot {
background: blue;
width: 10px;
height: 10px;
border-radius: 50%;
position: absolute;
}

.dot:nth-of-type(even) {
    background: red;
}

svg {
position: absolute;
transform: rotateX(180deg);
left: 0;
}
line {
stroke: red;
stroke-width: 3p
}