<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<h1>
Welcome to {{ title }}!
</h1>
<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>


<!--bar chart-->
<h2>Bar Chart</h2>
<div class="chart" [ngStyle]="{'width.px':width, 'height.px':height}">
    <!-- Labels -->
    <div class="y" [ngStyle]="{'width.px':height}">{{yAxis}}</div>
    <div class="x">{{xAxis}}</div>
    <!-- Data -->
    <div *ngFor="let bar of data; let i = index;" class="bar" 
    [ngStyle]="{'height.px':bar.value / max * height, 'width.px':width / data.length - 5, 'left.px': i / data.length * width}" 
    (mouseenter) ="mouseEnter('div a') " 
    (mouseleave) ="mouseLeave('div A') "
    (click) = "clicked(i / data.length * width, bar.value / max * height)">
    </div>
    <div class="line" #barLineMarker></div>

    

</div>

<!-- onRightClick($event), $event is an optional parameter so your template and event handler can look like this: -->
<h2>Dot Chart</h2>
<div class="chart" [ngStyle]="{'width.px':width, 'height.px':height}"  (contextmenu)="onRightClick()" (click) = "DotChartclick()" >
        <!-- Labels -->
        <div class="y" [ngStyle]="{'width.px':height}">{{yAxis}}</div>
        <div class="x">{{xAxis}}</div>
        <!-- Data -->
        <div *ngFor="let dot of data; let i = index;" class="dot" 
        [ngStyle]="{'bottom.px':dot.value / max * height, 'left.px': (i + 0.5)/ data.length * width}" 
        >
        </div>
        <div class="line" #dotLineMarker></div>
        <!-- <div *ngIf="htmlYouWantToAdd" [innerHTML]="htmlYouWantToAdd"></div> -->
    
</div>


<!-- onRightClick($event), $event is an optional parameter so your template and event handler can look like this: -->
<h2>Dot mem_heap_B Chart</h2>
<div class="chart" [ngStyle]="{'width.px':width, 'height.px':height}"  (contextmenu)="onRightClickMem_heap_B()" (click) = "DotChartclick()" >
        <!-- Labels -->
        <div class="y" [ngStyle]="{'width.px':height}">{{yAxis}}</div>
        <div class="x">{{xAxis}}</div>
        <!-- Data -->
        <div *ngFor="let dot of snapshots; let i = index;" class="dot" 
        [ngStyle]="{'bottom.px':dot.mem_heap_B / max_mem_heap_B * height, 'left.px': (i + 0.5)/ snapshots.length * width}" 
        (mouseenter) ="mouseEnterMem_heap_B(snapshots[i]) " 
        (mouseleave) ="mouseLeaveMem_heap_B(snapshots[i]) "
        index = 'i'
        >
        </div>
        <div class="line" #mem_heap_BMarker></div>
        <!-- <div *ngIf="htmlYouWantToAdd" [innerHTML]="htmlYouWantToAdd"></div> -->
    
</div>




<div class="textArea"  [ngStyle]="{'width.px':width, 'height.px':height}" >
        <textarea  [ngStyle]="{'width.px':width, 'height.px':height}" 
                        class="textArea"
                        ng-model="inputString" 
                        placeholder="(Valgrind Massif content)">
        </textarea>
</div>
        


<div class="textArea"  [ngStyle]="{'width.px':width, 'height.px':height}" >
        <textarea class="textArea"  type="text" [ngStyle]="{'width.px':width, 'height.px':height}" 
                [(ngModel)]="inputString" 
                placeholder="(Valgrind Massif content)">
        </textarea>
</div>


        <button (click)="handleMassifData()"></button>

  <!-- Data
<svg [ngStyle]="{'width.px':width, 'height.px':height}">

        <line ng-repeat="let line of data" 
              x1="{{i / data.length * width }}" 
              y1="{{data[i - 1].value / max * height}}" 
              x2="{{(i + 1) / data.length * width}}" 
              y2="{{line.value / max * height}}">
        </line>
    
</svg> -->


<h2>Here are some links to help you start: </h2>
<ul>
<li>
<h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
</li>
<li>
<h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
</li>
<li>
<h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
</li>
</ul>
<router-outlet></router-outlet>
