body {
    text-align: center;
    }
    
.chart {
border-left: 1px solid black;
border-bottom: 1px solid black;
margin: 60px auto;
position: relative;
}

.textArea{
border-left: 1px solid black;
border-bottom: 1px solid black;
margin: 0 auto;
position: relative;
}


.y {
position: absolute;
transform: rotate(-90deg);
transform-origin: bottom left;
bottom: 0;
padding: 5px;
}
.x {
position: absolute;
top: 100%;
width: 100%;
padding: 5px;
}
.bar {
background: blue;
position: absolute;
bottom: 0;
}
.bar:nth-of-type(even) {
background: red;
}
.dot {
background: blue;
width: 10px;
height: 10px;
border-radius: 50%;
position: absolute;
}

.dot:nth-of-type(even) {
    background: red;
}

svg {
position: absolute;
transform: rotateX(180deg);
left: 0;
}
line {
stroke: red;
stroke-width: 3p
}


.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.is-dragover {
    background-color: grey;
  }

.box.has-advanced-upload {
    background-color: white;
    outline: 2px dashed black;
    outline-offset: -10px;
  }
  .box.has-advanced-upload .box__dragndrop {
    display: inline;
  }